.UpperPanel{
    display:flex;
    
}

.LowerPanel{
    display: flex;
   
}

.Cards{
    justify-content: space-between;
    display: flex;
    
}

canvas{
    height: 300px;
    width: 300px;
    margin: auto;
    
}

#Bar{
    position: relative;
    top: 91px;
    width:350px;
    margin: auto;
}

.card_text{
    position: relative;
    bottom: 160px;
}



@media (max-width:733px){
    .responsive{
        flex-direction: column;
    }
    .UpperPanel{
        flex-direction: column;
    }
    .LowerPanel{
        flex-direction: column;
    }
    
}